:root{
    --navActiveElementColorForMobile: #ffffff;
    --navActiveElementColorForDesktop: #0f0f0f;
    --navBgForMobile: rgba(0, 97, 168, .6);
    --navBgForDesktop: #dabb99;
    --navElementFontColorForMobile: #d3d3d3;
    --navElementFontColorForDesktop: #5c5656;
}

.nav{
    position: fixed;
    top:0;
    left:-100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    background: var(--navBgForMobile);
    z-index: 10;
    transition: .3s;
}

.nav--active{
    left:0;
}

@media (min-width:1024px) {
    .nav{
        position: absolute;
        left:0;
        height:60px;
        background: transparent;
    }

    .nav--active{
        position: fixed;
        background: var(--navBgForDesktop);
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height:50%;
    list-style: none;
}


@media (min-width:1024px) {
    .nav__list{
        flex-direction: row;
        max-width: 800px;
    }
}

.nav__link{
    text-decoration: none;
    color: var(--navElementFontColorForMobile);
    font-size: 1.4rem;
    letter-spacing: 1px;
    transition: .3s;
}

.nav__link:hover{
    color:var(--navActiveElementColorForMobile);
}

.nav__link--active{
    color:var(--navActiveElementColorForMobile);
}

@media (min-width:1024px) {
    .nav--active .nav__link{
        color: var(--navElementFontColorForDesktop)
    }

    .nav--active .nav__link:hover{
        color:var(--navActiveElementColorForDesktop);
    }
    
    .nav--active .nav__link--active{
        color:var(--navActiveElementColorForDesktop);
    }
}

.bars{
    position: fixed;
    top:5%;
    right:5%;
    width:40px;
    height:40px;
    z-index: 15;
    background: transparent;
    border:none;
    overflow: hidden;
}

.bars::before,
.bars::after{
    position: absolute;
    content: '';
    width:100%;
    height:2px;
    transform-origin: center left;
    transition: .2s;
    background: var(--fontColor);
}

.bars::before{
    transform: translate(-20px, -15px);
}

.bars::after{
    transform: translate(-5px, -5px);
}

.bars--active::before{
    transform: rotate(45deg) translate(-21px, 0px);
}

.bars--active::after{
    transform: rotate(-45deg) translate(-19px, 0px);
}

@media (min-width:1024px) {
    .bars{
        display: none;
    }
}