:root{
    --navActiveElementColorForNavWithoutBg: #ffffff;
    --navActiveElementColorForNavWithBg: #0f0f0f;
    --navBg: #f5ece2;
    --navElementFontColorForNavWithoutBg: #b1aeae;
    --navElementFontColorForNavWithBg: #776c6c;
}

.nav{
    position: fixed;
    top:-280px;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:280px;
    background: var(--navBg);
    z-index: 10;
    transition: .3s;
}

@media (orientation:landscape) {
    .nav{
        top:-220px;
        height:220px;
    }
}

.nav--active{
    top:0;
}


@media (min-width:1024px) {
    .nav{
        top:0;
        height:60px;
        background: transparent;
    }

    .nav--active{
        position: fixed;
        background: var(--navBg);
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height:80%;
    list-style: none;
}


@media (min-width:1024px) {
    .nav__list{
        flex-direction: row;
        max-width: 800px;
    }
}

.nav__link{
    text-decoration: none;
    color: var(--navElementFontColorForNavWithBg);
    font-size: 1.4rem;
    letter-spacing: 1px;
    transition: .3s;
}

.nav__link:hover{
    color:var(--navActiveElementColorForNavWithBg);
}

.nav__link--active{
    color:var(--navActiveElementColorForNavWithBg);
}

@media (min-width:1024px) {
    .nav__link{
        color: var(--navElementFontColorForNavWithoutBg);
    }

    .nav__link:hover{
        color: var(--navActiveElementColorForNavWithoutBg);
    }

    .nav__link--active{
        color: var(--navActiveElementColorForNavWithoutBg);
    }

    .nav--active .nav__link{
        color: var(--navElementFontColorForNavWithBg);
    }

    .nav--active .nav__link:hover{
        color:var(--navActiveElementColorForNavWithBg);
    }

    .nav--active .nav__link--active{
        color:var(--navActiveElementColorForNavWithBg);
    }
}

.bars{
    position: fixed;
    top:5%;
    right:5%;
    width:40px;
    height:40px;
    z-index: 15;
    background: transparent;
    border:none;
    overflow: hidden;
}

.bars::before,
.bars::after{
    position: absolute;
    content: '';
    width:100%;
    height:2px;
    transform-origin: center left;
    transition: .2s;
    background: var(--fontColor);
}

.bars::before{
    transform: translate(-20px, -15px);
}

.bars::after{
    transform: translate(-5px, -5px);
}

.bars--active::before{
    transform: rotate(45deg) translate(-21px, 0px);
}

.bars--active::after{
    transform: rotate(-45deg) translate(-19px, 0px);
}

@media (min-width:1024px) {
    .bars{
        display: none;
    }
}