.header__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
    background-image: url('/images/headerBg640.jpg');
    background-size: cover;
    background-attachment: fixed;
}

@media (min-width:720px) {
    .header__img{
        background-image: url('/images/headerBg1280.jpg');
    }
}

@media (min-width:1280px) {
    .header__img{
        background-image: url('/images/headerBg1920.jpg');
    }
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:90%;
    max-width: 500px;
    padding:20px;
    background: rgba(0,0,0,.3);
    color:#fff;
    box-shadow:inset 0 0 10px rgba(0,0,0,.5);
}

@media (min-width:750px) {
    .header__content{
        padding:50px;
    }
}


.header__bold-text{
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 2rem;
}

@media (min-width:750px) {
    .header__bold-text{
        margin-bottom: 25px;
        font-size: 2.5rem;
    }
}

.header__small-text{
    margin-bottom: 20px;
    line-height: 180%;
    font-size: 1.2rem;
}

@media (min-width:750px) {
    .header__small-text{
        margin-bottom: 25px;
        line-height: 220%;
        font-size: 1.4rem;
    }
}

.header__button{
    width:100px;
    border-radius: 10px;
}