@import url('./components/nav.css');
@import url('./components/button.css');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --basicFontSize: 10px;
    --buttonBg:#2978b5;
    --buttonBgHover:#1f6092;
    --fontColor: #132c33;
    --siteBg: #fbe0c4;
}

html{
    font-family: 'Antonio', sans-serif;
    font-size: var(--basicFontSize);
    font-weight: 300;
}

body{
    background: var(--siteBg);
    height:300vh;
}

button, input{
    outline: 0;
}

.section{
    margin:100px 0;
}